/*Header*/
#header{
    background-color:rgba(43, 43, 45, 0.771);
    height: 50px;
    border-radius: 0px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: white;
    z-index: 1;
    border-bottom: 1px solid rgb(218, 237, 71);
    animation: change_color_header 1s linear infinite;
}
@keyframes change_color_header {
    0%{border-bottom-color: red;}
    50%{border-bottom-color: blue;}
    100%{border-bottom-color: green;}
}
#list-control{
    list-style: none;
    display: flex;
    margin: 15px 0 0 0;
}
#list-control li a{
    font-size: 18px;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    color: white;
    font-weight: 600 ;
    margin: 0 15px 0 0;
    font-family:'Verdana';
    animation: change_color 0.5s infinite linear;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.123);
    border: 4px solid yellow;

}
#list-control li:hover a {
    color: rgb(212, 117, 247);
    transition: all 0.5s;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
html{
    background-color: rgba(31, 32, 40, 0.344);
    min-height: 100%;
    height: 100%;
}
body{
    margin: 50px 0 0 0;
    min-height: 100%;
    height:100%;
    transition: all 2s 0.5s ease-in-out;
    text-align: center;
    position: relative;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);

}
/*box-spin*/
.box_spin{
    position: fixed;
    border: 1px;
    width:100%;
    height: 100%;
    padding: 0;
    z-index: -1;
    top: 0;
    left: 0;
    animation: spin_box_spin 3s linear infinite;
}
@keyframes spin_box_spin {
    0%{
        border-top-left-radius: 30%;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 100% ;
        transform: rotate(0deg);
    }
    20%{
        border-top-left-radius: 100%;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 60% ;
        border-bottom-right-radius: 80%;
        transform: rotate(72deg);
    }
    40%{
        border-top-left-radius: 80%;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 70%;
        border-bottom-left-radius: 30% ;
        transform: rotate(144deg);
    }
    60%{
        border-top-left-radius: 50%;
        border-top-right-radius: 80%;
        border-bottom-left-radius: 100% ;
        border-bottom-right-radius: 80%;
        transform: rotate(216deg);
    }
    80%{
        border-top-left-radius: 40%;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 90% ;
        transform: rotate(288deg);
    }
    100%{
        border-top-left-radius: 60%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 90% ;
        border-bottom-right-radius: 80%;
        transform: rotate(360deg);
    }
   
}
#body_spin{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation: change_color_spin 5s linear infinite;
}
@keyframes change_color_spin {
    0%{ background-image: linear-gradient(95deg,rgb(255, 0, 204),rgb(255, 242, 0));}
    25%{ background-image: linear-gradient(95deg,rgb(255, 242, 0),rgb(255, 0, 204));}
    50%{background-image: linear-gradient(95deg,rgb(255, 0, 204),rgb(255, 242, 0));}
    75%{ background-image: linear-gradient(95deg,rgb(255, 242, 0),rgb(255, 0, 204));}
    100%{ background-image: linear-gradient(95deg,rgb(255, 0, 204),rgb(255, 242, 0));}
}

/*ads*/
#advertisement{display: none;}
.ads{
    padding: 0;
    width:auto;
    height: auto;
    border: 5px solid;
    text-align: center;
    position: fixed;
    top: 13%;
    left: 15%;
    right: 15%;
    z-index: 1;
    background-color: 
    rgba(31, 32, 40, 0.433);
    border-top-color: red;
    border-radius: 20px;
    animation: change_color 1s linear infinite ;
}
@keyframes change_color {
    0%{
        border-right-color: blue;
        border-left-color: red; 
        border-top-color: green;
        border-bottom-color: yellow;
    }
    25%{
        border-right-color: yellow;
        border-left-color: blue; 
        border-top-color: red;
        border-bottom-color: green;
    }
    50%{
        border-right-color: green;
        border-left-color: yellow; 
        border-top-color: blue;
        border-bottom-color: red;
    }
    75%{
        border-right-color: red;
        border-left-color: green; 
        border-top-color: yellow;
        border-bottom-color: blue;
    }
    100%{
        border-right-color: blue;
        border-left-color: red; 
        border-top-color: green;
        border-bottom-color: yellow;
    }
}
#close_ads{
    cursor: pointer;
}
#close{
    text-align: right;
}
#ads_mobile{display: none;}
#ads_web{
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*favorite*/
#video{
    display: block;
    color: white;
    flex-basis: 70%;
    padding: 0 30px 0 30px;
}
iframe{
    padding:5px;
    height: 250px;
    width: 450px;
    border-radius: 20px;
}
.favorite{display: flex;position: relative;}
#text-talk{
   flex-basis: 30%;
   color: white;
   background-color: 
    rgba(31, 32, 40, 0.433);
    border-radius: 20px;
    margin: 0 30px 0 20px;
}
#text-talk p {
    font-family: 'Verdana';
    font-size: 18px;
}
.box-scroll{
    width: 1050px;
    height:530px ;
    text-align: center;
    border: 8px solid ;
    border-color: green;
    border-radius: 20px;
    background-color: rgba(31, 32, 40, 0.344);
    overflow-y: scroll;
    animation: change_color_box_scroll 0.5s linear infinite;
}
@keyframes change_color_box_scroll{
      0%{border-right-color: blue;
        border-left-color: red; 
        border-top-color: green;
        border-bottom-color: yellow;} 
     50%{
        border-right-color: red;
         border-left-color: green; 
         border-top-color: yellow;
         border-bottom-color: blue;} 
    100%{
        border-right-color: green;
        border-left-color: yellow; 
        border-top-color: blue;
        border-bottom-color: red;} 
}
.box-scroll::-webkit-scrollbar{width: 10px;}
.box-scroll::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-50deg, blue, red)
}
#my_favorite{
    color: white;
    animation: change_color_text 1s linear infinite;
}
/*my profile*/
.profile{
    display: flex;
    margin-top: 10px;
    text-align: center;
    height: 100%;
    padding-bottom: 5px;
    background-color:rgba(31, 32, 40, 0.344);
}
#my_profile{
    animation: change_color_text 1s linear infinite;
}
@keyframes change_color_text {
    0%{color: red;}
    50%{color: yellow;}
    100%{color: blue;}
}
#main-profile{
    flex-basis: 60%;
    border: groove;
    border-radius: 20px;
    border-color: rgb(138, 0, 138);
    margin-bottom: 15px;
    background-color:  rgba(31, 32, 40, 0.433);
    margin: 0 10px 0 10px;}
#sidebar{
    flex-basis: 40%;
    border: groove;
    border-radius: 20px;
    border-color: rgb(138, 0, 138);
    background-color: 
    rgba(31, 32, 40, 0.433);
    margin: 0 10px 0 10px;
}
#sidebar,#main-profile{
    animation:  change_color_box 1s linear infinite;
}
@keyframes change_color_box {
    0%{border-color: rgb(138, 0, 138);}
    50%{border-color: red;}
    100%{border-color: blue;}
}
#avt{
    border-radius: 50%;
}
#box-avt{
    border: 5px ;
    border-color: white;
    border-radius: 50%;
    background-color: rgb(31 32 40);
    margin-top: 13px;
}

.my-infor{
    list-style:none;
    text-align: left;
    padding-left: 40px;
    font-family: 'Verdana';
    margin-top: 0;
    color: white;

}
.hobbies{
    list-style:none;
    text-align: left;
    font-family: 'Verdana';
    margin-top: 0;
    color:white
}
.education{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.softs-skill{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.contact{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.contact a {
    text-decoration: none;
    color:white;
}
#name{
    color: white;
    font-family:'Tahoma';
    margin-top: 0;
}
#b1,#b2,#b3,#b4,#b5 {
    font-family: 'Verdana';
    padding-left: 40px;
    margin-bottom: 0;
    color: rgb(35, 116, 225);
    text-align: center;
}
.my-infor ,.hobbies , .softs-skill ,.contact,.education{
    text-align: center;
}
.my-infor li ,.hobbies li , .softs-skill li ,.contact li,.education li{
   margin-bottom: 8px;
}
#b3,#b4,#b5{
    margin-top: 50px;
    margin-bottom: 10px;
}
.education li , .contact li , .softs-skill li{
    margin-bottom: 15px;
}
.contact li:hover a{
    background-color: rgba(255, 255, 255, 0.101);
    border-radius: 20px;
}
/*footer*/
.footer{
    background-color: rgba(0, 0, 0, 0.392);
    margin: 0 auto;
    height: 100px;
    width:100%;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(218, 237, 71);
    animation: change_color_footer 1s linear infinite;
}
@keyframes change_color_footer {
    0%{border-top-color: red;}
    50%{border-top-color: blue;}
    100%{border-top-color: green;}
}
.footer h2{
    font-family: 'Verdana';
    font-size: 20px;
    text-align:center;
    color: white;
    padding-top: 50px;
}
/*control-right*/
#back-top{
    position: fixed;
    top: 80%;
    right: 7px;
    cursor: pointer;
    z-index: 1;
   }
   #box_chat_mess{
    display: block;
    position: fixed;
    top: 90%;
    right: 7px;
    animation: shake 0.3s linear infinite;
    z-index: 1;
}
@keyframes shake {
    0% {
       width: 45px;
    }
    50%{
        width: 40px;
    }
    100%{
    width: 50px;
    }
}
/*none because responsive*/
#toggle{display: none;}
/*responsive->phone*/
@media (max-width:780px) {
/*toggle*/
#toggle{
    display: block;
    cursor: pointer;
    text-align:left;
    padding: 5px 5px;
    font-size: 30px;
}
nav{
    display: none;
}
/*header*/
#header{
    height: auto;
    display: block;
}
#logo{display: none;}
#list-control{
    flex-direction: column;
    margin: 40px auto;
}
#list-control li{
    height: 70px;
}
body{
    margin-top: 50px;
}
/*ads*/
.ads{
    left: 3%;
    right: 3%;
    top: 20%;
}
#ads_mobile{
    display: block; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}
#ads_web{display: none;}
/*my picture*/
/*my favorite*/
.favorite{display: block;}
#video{
    padding: 2px 0 0 0;
    display: block;
    font-size: 15px;
    font-family: 'Verdana';
    margin: 0 auto;
    background-color: rgba(31, 32, 40, 0.344);
}
iframe{
    padding: 0;
    height: 310px;
    width: 100%;
    border-radius: 20px;}
.box-scroll{
        width: 100%;
        height:630px ;
        background-color: rgba(31, 32, 40, 0.344);
        border:6px solid;
        border-color: green;
    }
.box-scroll::-webkit-scrollbar{width: 5px;}
/*my profile*/
.profile{
    display: block;
}
#b1,#b2,#b3,#b4,#b5{
    padding-left: 0;
}
.my-infor ,.hobbies , .softs-skill ,.contact,.education{
    padding-left: 0;
}
#main-profile{
    margin-bottom: 10px;
}
}
