/*Header*/
#header{
    background-color:rgba(43, 43, 45, 0.886);
    height: 50px;
    border-radius: 0px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: white;
    z-index: 1;
    border-bottom: 1px solid rgb(218, 237, 71);
    animation: change_color_header 2s linear infinite;
}
@keyframes change_color_header {
    0%{border-bottom-color: red;}
    50%{border-bottom-color: blue;}
    100%{border-bottom-color: black;}
}
#list-control{
    padding: 0;
    list-style: none;
    display: flex;
    margin: 15px 0 0 0;
}
#list-control li a{
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    color: rgb(255, 255, 0);
    font-weight: 600 ;
    margin: 0 ;
    font-family:'Verdana';
    animation: change_color 2s infinite linear;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.123);
    border: 4px solid yellow;

}
#list-control li:hover a {
    color: rgb(212, 117, 247);
    transition: all 0.5s;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
html{
    background-color: rgba(31, 32, 40, 0.344);
    min-height: 100%;
    height: 100%;
    animation: change_color_html 1s linear infinite;
}
@keyframes change_color_html {
    0%{background-color: rgba(2, 2, 82, 0.723);}
    100%{background-color: rgba(0, 0, 0, 0.585);}
}
body{
    margin: 50px 0 0 0;
    min-height: 100%;
    height:100%;
    transition: all 5s 0.5s ease-in-out;
    text-align: center;
    position: relative;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);

}
/*box-spin*/
.box_spin{
    position: fixed;
    border: 1px;
    width:100%;
    height: 100%;
    padding: 0;
    z-index: -1;
    top: 0;
    left: 0;
    animation: spin_box_spin 7s linear infinite;
    border-radius: 100%;
}
@keyframes spin_box_spin {
    0%{
        background-image: linear-gradient(95deg,rgb(0, 0, 63),red);
        transform: rotate(0deg);
    }
    100%{
        background-image: linear-gradient(95deg,red,black);
        transform: rotate(360deg);
    }
  
   
}
#body_spin{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    animation: change_color_spin 20s linear infinite;
}
@keyframes change_color_spin {
    0%{ background-image: linear-gradient(95deg,red,black);transform: rotate(0deg);}
    100%{ background-image: linear-gradient(95deg,rgb(0, 0, 63),red);transform: rotate(360deg);}
}

/*ads*/
#advertisement{display: none;}
.ads{
    padding: 0;
    width:auto;
    height: auto;
    border: 5px solid;
    text-align: center;
    position: fixed;
    top: 13%;
    left: 15%;
    right: 15%;
    z-index: 1;
    background-color: 
    rgba(31, 32, 40, 0.433);
    border-top-color: red;
    border-radius: 20px;
    animation: change_color 1s linear infinite ;
}
@keyframes change_color {
    0%{
        border-right-color: red;
        border-left-color: red; 
        border-top-color: black;
        border-bottom-color: black;
    }
    45%{
        border-right-color: black;
        border-left-color: black; 
        border-top-color: black;
        border-bottom-color: black;
    }
    65%{
        border-right-color: black;
        border-left-color: black; 
        border-top-color: red;
        border-bottom-color: red;
    }
    100%{
        border-right-color: black;
        border-left-color: black; 
        border-top-color: black;
        border-bottom-color: black;
    }
   
}
#close_ads{
    cursor: pointer;
}
#close{
    text-align: right;
}
#ads_mobile{display: none;}
#ads_web{
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*favorite*/
/*Music*/
#music{
    flex-basis: 30%;
    color: white;
    background-color: 
     rgba(31, 32, 40, 0.433);
     border-radius: 20px;
     margin: 0 20px 0 20px;
 }
 #music p {
     font-family: 'Verdana';
     font-size: 18px;
 }
#title_music{
    background-color: rgba(5, 34, 255, 0.207);
    border: 2px solid rgb(144, 3, 3);
    border-radius: 20px;
    animation: change_color_title_music 1s linear infinite;
}
@keyframes change_color_title_music {
    0%{background-color: rgba(0, 0, 0, 0.423);}
    50%{background-color: rgba(82, 0, 0, 0.449);}
    100%{background-color: rgba(0, 0, 111, 0.497);}
}
#screen_music{
    font-family: 'Verdana';
    color: white;
    font-size: 20px;
}
#control_music_screen{
    margin: 10px;
}
#control_music{
    margin: 20px 0;
}
#control_music button{
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    font-family: 'Verdana';
    font-size: 20px;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    animation: change_color_title_music 1s linear infinite;

}
#list_music{
    background-color:   rgba(31, 32, 40, 0.512) ;
    color:white;
    border: 1px solid  rgba(31, 32, 40, 0.592);
    border-radius: 20px;
    height: 345px;
    width: 100%;
    transition: all 5s ease-in-out;

}
#list_music_scroll{
    overflow-y: scroll;
    font-family: 'Verdana';
    height: 240px;
}
#list_music_scroll::-webkit-scrollbar{
    width: 5px;
}
#list_music_scroll::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-50deg, red, blue);
}

 /*Video*/
 #list_video_scroll{
    overflow-y: scroll;
    height: 60%;
 }
 #list_video_scroll::-webkit-scrollbar{
    width: 10px;
}
#list_video_scroll::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(0deg, yellow, blue);
}
 #control_vd_on_laptop{display: flex;}
 #control_vd_on_laptop h3{
    cursor: pointer;
    padding: 5px;
    margin: 10px 20px;
    font-family: 'Verdana';
    font-size: 18px;
    color: white;
    border: 2px solid rgb(82, 0, 0);
    border-radius: 20px;
    animation: change_color_title_music 2s linear infinite;
 }
 #open_control{display: none;}
#control_ytb{
    list-style: none;
    padding: 0;
}
#control_ytb li{
    cursor: pointer;
    margin: 7%;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    color: white;
    font-weight: 600 ;
    font-family:'Verdana';
    animation: change_color 0.5s infinite linear;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.123);
    border: 4px solid yellow;

}
#close_control{cursor: pointer;}
#close_control_video{
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}
#box_ct_video{
    top: 20%;
}
#control_video{
    padding: 0;
    z-index: 1;
    display: none;
    color: white;
    background-color: 
    rgba(31, 32, 40, 0.918);
    border-radius: 0px;
    font-family: 'Verdana';
    position:fixed;
    top: 51px;
    width: 100%;
    height: 100%;
    text-align: center;
}
#video{
    display: block;
    color: white;
    
}
#list_video{
    display: none;
    padding: 0;
    position: fixed;
    font-family: 'Verdana';
    text-align: center;
    color: white;
    background-color: 
    rgba(31, 32, 40, 0.793);
    border-radius: 20px;
    z-index: 1;
    top: 10%;
    left: 15%;
    right: 10%;
    width: 70%;
    height: 80%;
    font-size: 20px;
    transition: all 5s ease-in-out;
}
#close_list{cursor: pointer;}
#close_list_video{
   text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}
iframe{
    display: block;
    width: 100%;
    height:570px ;
    border-radius: 20px;
}
.favorite{display: flex;position: relative;}
#open_control{
    margin-top: 15px;
    font-family: 'Verdana';
    color: white;
    font-size: 20px;
}
.box-scroll{
    flex-basis: 70%;
    width: 900px;
    height:650px ;
    text-align: center;
    border: 8px solid ;
    border-color: green;
    border-radius: 20px;
    background-color: rgba(31, 32, 40, 0.344);
    animation: change_color 2s linear infinite;
}
.box-scroll::-webkit-scrollbar{width: 10px;}
.box-scroll::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-image: linear-gradient(-50deg, blue, red)
}
#my_favorite{
    color: white;
    animation: change_color_text 1s linear infinite;
}
/*my profile*/
.profile{
    display: flex;
    margin-top: 10px;
    text-align: center;
    height: 100%;
    padding-bottom: 5px;
    background-color:rgba(31, 32, 40, 0.344);
}
#my_profile{
    animation: change_color_text 1s linear infinite;
}
@keyframes change_color_text {
    0%{color: black;}
    50%{color: rgb(124, 124, 2);}
    100%{color: red;}
}
#main-profile{
    flex-basis: 60%;
    border: groove;
    border-radius: 20px;
    border-color: rgb(138, 0, 138);
    margin-bottom: 15px;
    background-color:  rgba(31, 32, 40, 0.433);
    margin: 0 10px 0 10px;}
#sidebar{
    flex-basis: 40%;
    border: groove;
    border-radius: 20px;
    border-color: rgb(138, 0, 138);
    background-color: 
    rgba(31, 32, 40, 0.433);
    margin: 0 10px 0 10px;
}
#sidebar,#main-profile{
    animation:  change_color_box 1s linear infinite;
}
@keyframes change_color_box {
    0%{border-color: black;}
    50%{border-color: red;}
    100%{border-color: blue;}
}
#avt{
    border-radius: 50%;
}
#box-avt{
    border: 5px ;
    border-color: white;
    border-radius: 50%;
    background-color: rgba(31, 32, 40, 0.433);
    margin-top: 13px;
}

.my-infor{
    list-style:none;
    text-align: left;
    padding-left: 40px;
    font-family: 'Verdana';
    margin-top: 0;
    color: white;

}
.hobbies{
    list-style:none;
    text-align: left;
    font-family: 'Verdana';
    margin-top: 0;
    color:white
}
.education{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.softs-skill{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.contact{
    text-align: left;
    font-family: 'Verdana';
    list-style: none;
    margin-top: 0;
    color: white;
}
.contact a {
    text-decoration: none;
    color:white;
}
#name{
    color: white;
    font-family:'Tahoma';
    margin-top: 0;
}
#b1,#b2,#b3,#b4,#b5 {
    font-family: 'Verdana';
    padding-left: 40px;
    margin-bottom: 0;
    color: rgb(255, 0, 0);
    text-align: center;
}
.my-infor ,.hobbies , .softs-skill ,.contact,.education{
    text-align: center;
}
.my-infor li ,.hobbies li , .softs-skill li ,.contact li,.education li{
   margin-bottom: 8px;
}
#b3,#b4,#b5{
    margin-top: 50px;
    margin-bottom: 10px;
}
.education li , .contact li , .softs-skill li{
    margin-bottom: 15px;
}
.contact li:hover a{
    background-color: rgba(255, 255, 255, 0.101);
    border-radius: 20px;
}
/*footer*/
.footer{
    background-color: rgba(0, 0, 0, 0.392);
    margin: 0 auto;
    height: 100px;
    width:100%;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(218, 237, 71);
    animation: change_color_footer 1s linear infinite;
}
@keyframes change_color_footer {
    0%{border-top-color: red;}
    50%{border-top-color: blue;}
    100%{border-top-color: black;}
}
.footer h2{
    font-family: 'Verdana';
    font-size: 20px;
    text-align:center;
    color: white;
    padding-top: 50px;
}
/*control-right*/
#back-top{
    position: fixed;
    top: 80%;
    right: 7px;
    cursor: pointer;
    z-index: 1;
   }
#box_chat_mess{
    display: block;
    position: fixed;
    top: 90%;
    right: 7px;
    animation: shake 0.3s linear infinite;
    z-index: 1;
}
@keyframes shake {
    0% {
       width: 45px;
    }
    50%{
        width: 40px;
    }
    100%{
    width: 50px;
    }
}
/*none because responsive*/
#toggle{display: none;}
/*responsive->phone*/
@media (max-width:780px) {
/*toggle*/
#toggle{
    display: block;
    cursor: pointer;
    text-align:left;
    padding: 5px 5px;
    font-size: 30px;
}
nav{
    display: none;
}
/*header*/
#header{
    height: auto;
    display: none;
}
#logo{display: none;}
#list-control{
    flex-direction: column;
    margin: 40px auto;
}
#list-control li{
    height: 70px;
}
body{
    margin-top: 0;
}
/*ads*/
.ads{
    left: 3%;
    right: 3%;
    top: 20%;
}
#ads_mobile{
    display: block; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;}
#ads_web{display: none;}
/*my picture*/
/*my favorite*/
#open_control{display: block;}
#control_vd_on_laptop{display: none;}
#list_video{
    width: 100%;
    height: auto;
    font-size: 18px;
    background-color: rgba(31, 32, 40, 0.664);
    margin: 10px 0;
    position:static;
    }
#control_video{
    top: 45px;
}
#list_video_scroll{
    height: 30%;
}
#control_ytb li{margin-top: 20%;}
.favorite{display: block;}
#video{
    padding: 2px 0 0 0;
    display: block;
    font-size: 15px;
    font-family: 'Verdana';
    margin: 0 auto;
    background-color: rgba(31, 32, 40, 0.344);
}
iframe{
    padding: 0;
    height: 310px;
    width: 100%;
    border-radius: 20px;}
.box-scroll{
        width: 100%;
        height:400px ;
        background-color: rgba(31, 32, 40, 0.344);
        border:6px solid;
        border-color: green;
    }
.box-scroll::-webkit-scrollbar{width: 5px;}
/*my profile*/
.profile{
    display: block;
}
#b1,#b2,#b3,#b4,#b5{
    padding-left: 0;
}
.my-infor ,.hobbies , .softs-skill ,.contact,.education{
    padding-left: 0;
}
#main-profile{
    margin-bottom: 10px;
}
}
